body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: rgb(60,60,60);
    color: white;
}

header {
    margin: 0px;
    padding: 0px;
    background-color: rgb(60, 60, 200);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

input {
    background-color: rgb(20, 20, 20);
    border: none;
    box-shadow: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

#logout {
    position: absolute;
    right: 10px;
    background-color: rgb(210, 70, 70);
    outline: none;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#new-line {
    white-space: pre-line;
}

.card-with-details {
}
.card {
    position: relative;
    width: 20%;
}

.card-preview {
}

.card .card-preview {
    width: 100%;
}

.card .addButton {
    display: none;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%
}

.card-preview:hover + .addButton {
    display: block;
}