body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: rgb(60,60,60);
    color: white;
}

header {
    margin: 0px;
    padding: 0px;
    background-color: rgb(60, 60, 200);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

input {
    background-color: rgb(20, 20, 20);
    border: none;
    box-shadow: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

#logout {
    position: absolute;
    right: 10px;
    background-color: rgb(210, 70, 70);
    outline: none;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#card-display {

}

.card-with-details img {
    margin:auto; 
    width:300px;
    display:block;
    border-radius: 1rem;
    margin-top: 1rem;
}

header a {
    color: rgb(17, 17, 17);
    margin-left: 2em;
    font-size: 35px;
    text-shadow: 2px 2px 0px #e20000;
    mix-blend-mode: screen;
    animation: fade 2.5s linear forwards;
  }
  
  @keyframes fade {
      0% {
          opacity: 0
      }
  
      100% {
          opacity: 1;
      }
  }


a img {
    margin: 1rem; 
    width:300px;
    border-radius: 1rem;
    margin-top: 1rem;
}

.card-with-details h1, h2, h3 {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    margin: 1em;
}

#mtg-cards-image {
    display: flex;
    align-items: center;
    max-width: 75px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1rem;
}

#mtg-header {
    display: flex;
    align-items: center;
}
  
  .content h2 {
    color: #fff;
    font-size: 1em;
    transform: translate(-50%, -50%);
  }
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
  }
  

  